body {
    font-family: 'Roboto Slab', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #66FCF1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #66FCF1;
    color: rgb(44, 14, 14);
}

.main-container {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 20px;
}

.sidebar h2{
    color:#171616;
    box-shadow: #555 1rem;
}

.category {
    margin-bottom: 20px;
}

.category-button {
    padding: 10px;
    background-color: #66FCF1;
    color: black;
    border: 1px solid black;
    border-radius: .25rem;
    margin-bottom: 5px;
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.category-button:hover {
    background-color:  #171616;
    border-color: #66FCF1;
    color: #66FCF1;
}

.main-content {
    width: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.content-section {
    height: 15%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.content-section:hover {
    transform: scale(1.02);
}


img {
    width: 15%;
    height: auto;
    margin-right: 1rem;
}

.content-info {
    padding: 20px;
    display: flex;
}

h2 {
    font-weight: bold;
}
.content-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-button {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #3498db;
    cursor: pointer;
}

.read-more {
    width: 5rem;
    height: 2rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: 1rem;
}

.read-more:hover {
    background-color: #333;
}

@media (max-width:767px) {

    .main-container{
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 1;
        display: flex;
    }

    .main-content {
        width: 100%;
        order: 2;
    }

    .content-section{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-details{
        display: flex;
    }

    img {
        width: 50%;
        height: auto;
        margin-right: 1rem;
    }
    .category{
        position: relative;
        display: inline-block;
        margin: 1rem;
    }
    .category h2::after{
        content: "▾";
        margin-left: 5px;
    }

    .category-list{
        display: none;
        position: absolute;
        z-index: 1;
    }
    .category:hover .category-list{
        display: block;
        margin: .5rem;
        border-radius: 5px;
        background-color: #171616;
    }
}

