header {
    background-color: #0c0c0c;
}
button:focus{
    outline: none;
}
.main-container {
    display: flex;
    background: linear-gradient(90deg,#518d89,#F0F0F0);
}


.sidebar {
    width: 20%;
    margin: 20px;
}

.sidebar h2{
    color:#171616;
    box-shadow: #555 1rem;
}

.search-bar {
    margin: 2rem 0;
    display: flex;
}

.search-input {
    border-radius: 0.25rem 0 0 0.25rem; 
    width: 80%;
    border: 1px solid #2c7873;
    padding: 0.5rem;
    border-right: none;
}

.search-button {
    width: 20%;
    background-color: #fff; 
    color: white;
    border: 1px solid #2c7873;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer; 
    border-left: none;
    padding: 0;
}

.search-button img {
    background-color: transparent;
    width: 50%;
    height: auto;
    margin: .25rem;
}

.category {
    margin-bottom: 20px;
}

.category-button {
    font-size: 15px;
    padding: 10px;
    background-color: #2c7873;
    color: #F0F0F0;
    border: 1px solid #2c7873;
    border-radius: .25rem;
    margin-bottom: 5px;
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.category-button:hover,
.category-button-active:hover {
    background-color:  #F0F0F0;
    border-color: #2c7873;
    color: #2c7873;
}
.category-button-active {
    font-size: 15px;
    padding: 10px;
    color: #F0F0F0;
    border: 1px solid #2c7873;
    border-radius: .25rem;
    margin-bottom: 5px;
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color:  #F0F0F0;
    color: #2c7873;
}

.main-content {
    width: 80%;
    min-height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.content-section {
    height: 30vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:#F0F0F0;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

.content-section:hover {
    transform: scale(1.02);
}

.content-info {
    display: flex;
    width: 85%;
    height: 100%;
    align-items: center;
}

img {
    height: 100%;
    width: 20%;
    background-color: #0c0c0c;
    margin-right: 1.5rem;
    border-radius: .25rem;
}

.read-more {
    background-color: transparent;
    color: #2c7873;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 20px;
    padding: .5rem;
}

.read-more:hover {
    background-color: transparent;
}

@media (max-width:767px) {

    .main-container{
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        order: 2;
    }

    .content-section{
        margin: 1rem;
        width: 90%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .content-info h3{
        text-align: center;
    }

    img {
        width: 50%;
        height: 80%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
    .filters{
        display: flex;
        justify-content: space-evenly;
    }
    .category{
        margin: 1rem;
    }
    .category h5::after{
        content: "▾";
        margin-left: 5px;
    }

    .category-list{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #2c7873;
    }
    .category-button{
        box-shadow: none;
        margin: 0;
    }
    .category:hover .category-list{
        border-bottom: #F0F0F0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
}

