header {
    background-color: #0c0c0c;
}
button:focus{
    outline: none;
}
.main-container {
    display: flex;
}

.sidebar {
    width: 20%;
    margin: 20px;
    flex-shrink: 0;
}

.sidebar h2{
    color:#171616;
    box-shadow: #555 1rem;
}

.search-bar {
    margin: 2rem 0;
    display: flex;
}

.search-input {
    border-radius: 0.25rem 0 0 0.25rem; 
    width: 80%;
    border: 1px solid #2c7873;
    padding: 0.5rem;
    border-right: none;
}

.search-button {
    width: 20%;
    background-color: #fff; 
    color: white;
    border: 1px solid #2c7873;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer; 
    border-left: none;
    padding: 0;
}

.search-button img {
    background-color: transparent;
    width: 50%;
    height: auto;
    margin: .25rem;
}

.category {
    margin-bottom: 20px;
}

.category-button {
    font-size: 15px;
    padding: 10px;
    background-color: #2c7873;
    color: #F0F0F0;
    border: 1px solid #2c7873;
    border-radius: .25rem;
    margin-bottom: 5px;
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.category-button:hover,
.category-button-active:hover {
    background-color:  #F0F0F0;
    border-color: #2c7873;
    color: #2c7873;
}
.category-button-active {
    font-size: 15px;
    padding: 10px;
    color: #F0F0F0;
    border: 1px solid #2c7873;
    border-radius: .25rem;
    margin-bottom: 5px;
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color:  #F0F0F0;
    color: #2c7873;
}

.main-content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide en dos columnas iguales */
    /* grid-gap: 10px; Espacio entre las columnas */ 
    /* width: 80%;
    min-height: 100vh;
    
    justify-content: center;
    align-items: center; */
}



/* Estilos para la sección de tarjeta */
.content-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px #2c7873;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    flex-direction: column; /* Coloca los elementos uno encima del otro */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    width: 260px;
    height: 360px;
}

/* Estilos para cuando se pasa el mouse sobre la tarjeta */
.content-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #2c7873;;
}

/* Nueva clase para la imagen */
.inst-img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    background-color: #2c7873;
    margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

/* Estilos para el título */
.content-section h3 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px; /* Espacio entre el título y el botón */
}

/* Estilos para el botón "Ver más" */
.read-more {
    background-color: #2c7873;;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}
/* @media screen and (max-width: 768px) {
    .content-section {
        padding: 15px;
    }
    .inst-img {
        width: 60px;
        height: 60px;
    }
    .content-section h3 {
        font-size: 1em;
    }
    .read-more {
        padding: 6px 10px;
    }
} */




@media (max-width:767px) {

    .main-container{
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        order: 2;
    }

    .content-section{
        margin: 1rem;
        width: 90%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .content-info h3{
        text-align: center;
    }

    img {
        width: 50%;
        height: 80%;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
    .filters{
        display: flex;
        justify-content: space-evenly;
    }
    .category{
        margin: 1rem;
    }
    .category h5::after{
        content: "▾";
        margin-left: 5px;
    }

    .category-list{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #2c7873;
    }
    .category-button{
        box-shadow: none;
        margin: 0;
    }
    .category:hover .category-list{
        border-bottom: #F0F0F0;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
}

