body{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins';
    color: #0c0c0c;
    background-color: #F0F0F0;
}/*#172a49*/

a{
    padding: 10px;
}

.sub{
    box-sizing: border-box;
    padding: .5em;
    /* color: rgb(239, 237, 237); */
}
.stars{
    margin-top: 10px;
}
main{
    box-sizing: border-box;
    width: 100vw;
    padding: 3em;
}
.uno{
    margin-top: 10px;
}

.img{
    width: 95vw;
    height: 40vh;
    overflow: hidden;
    display: block;
    border-radius: .3em;
}
h1{
    margin: 0%;
    font-size: 1em;
}
article p{
    text-align: left;
}
.dos iframe{
    width: 99%;
    height: 300px;
    
}

/*Informacion*/

#imagen{
    max-width: 100%;
    height: auto;
}
.bord{
    height: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
   
}
/*mejoras*/
.dir p{
    padding: 5px;
    font-size: 15px;
}
.dir h3{
    font-size: 18px;
}
.contenido{
    overflow: auto;
    border: 1px solid #ccc;
}
.icono{
    /*circulo*/
    border-radius: 50%; 
    background-color: #2c7873;
}
.icono img{
    height: 80%;
    width: 45px;
    position: relative;
    top: 50%;     /* Alinea en el centro verticalmente */
    left: 50%;    /* Alinea en el centro horizontalmente */
    transform: translate(-50%, -50%);
   
}
.bord article{
    width: 300px;
    text-align: center;
    color: rgb(242, 237, 237);
}
.dir{
    width: 210px;
}

.divcom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
/*comentarios*/
.subs{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #080808;
}
.com{
    box-sizing: border-box;
    height: auto;
    /* padding: 64px; */
    color: #0c0c0c;
    margin-bottom: 50px;
}
#comen img{
    width: 15px;
}
#comen h3{
    margin: 0%;
    font-size: 1.15em;
    color: #525050;
}
#dos h2{
    margin: 0;
    margin-right: auto;
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 1em;
    color: #0c0c0c;
}
/*formulario*/
.formulario {
    background-color: #fff;
    max-width: 400px;
    /* margin: 10px 5px; */
    /* padding: 5px; */
    /* text-align: center; */
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* label{
    margin-bottom: 10px;
} */

#form h2{
    text-align: left;
    color:  #2c7873;
    font-size: 18px;
    font-weight: bold;
}

#correo,
#comentarios{
    width: 350px;
}

/* Estilos para los campos del formulario */
.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

input[type="email"],
textarea {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el botón */
.botonEnviar button {
    padding: 10px 20px; /* Ejemplo de padding */
    background-color: #2c7873; 
    color: #fff; 
    border-radius: 5px; 
    font-size: 15px; 
    width: 100%;
    
}


.boton {
    background-color: #2c7873;
    color: #080808;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.boton:hover, .botonEnviar button:hover, .subs:hover {
    background-color: azure;
    border: 1px solid #2c7873;
    color: #2c7873;
}


@media screen and (min-width: 768px){
    .sub{
        box-sizing: border-box;
        display: block;
        margin-top: 0;
        /* padding: 4em; */
        gap: 2em;
    }
    .uno{
        height: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.5em;
        height: 20%;
        border-bottom: 1.75px solid #0c0c0c;
        padding-top: 10px;
    }
    .uno p{
        height: auto;
    }

    /*Informacion*/
    .padr{
        display: flex;
        flex-wrap: wrap;
    }
    /* .bord{
        box-sizing: border-box;
        margin: auto;
        width: 50px;
        border-radius: .25em;
    } */
    .bord {
        width: calc(100% - 30px); /* Cambiar el ancho a ocupar toda la pantalla */
        margin-right: 0; /* Eliminar el margen derecho */
        margin-bottom: 20px; /* Agregar margen inferior entre contenedores */
    }
    .bord div,
    .bord article{
        position: relative;
        top: -50%;
    }
    .bord article{
        text-align: center;
        
    }

    .boton{
        color: #F0F0F0;
    }

}


@media screen and (min-width: 992px){
    /*Informacion*/
    
   .padr{
    justify-content: space-between;
   }
    .bord{
        /*width: 10vw;*/
        box-sizing: border-box;
        border: 1px solid #2c7873;
        margin-top: 50px;
        padding: 15px;

        width: 150px;
        height: 250px;
        border-radius: .25em;
        padding: 0;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 70px;
    }
    .icono{ 
        width: 90px;
        height: 90px;
        position: relative;
        top: -35%;     /* Alinea en el centro verticalmente */
        left: 50%;    /* Alinea en el centro horizontalmente */
        transform: translate(-50%);
    }
    .bord article{
        margin: auto;
    }
    /*comentarios*/
    
    /*formulario*/
    .formulario{
        width: 100%;
    }



#form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .divcom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
  }
  .subs{
    display: inline-block;
    border: 1px solid black;
    border-radius: 1em;
    width: 25%;
    height: 300px;
  }
 #coment{/*cambiar a class no va id*/
    display: flex;
    justify-content: center;
    gap: 2px;
 }
 
 .sub{
    display: block;
    margin: 0%;
    /* padding: 4em; */
 }
 .dos iframe,.img{
    width: 35%;
    height: 300px;

 }
 .dos iframe{
    border-radius: 1em;
 }
 .img img{
    /*height: 300px;*/
    width: auto; /* La imagen se ajusta al ancho del contenedor, pero no excede su tamaño original */
    height: auto; /* Mantiene la proporción original de la imagen */
    /*display: block; *//* Elimina el espacio adicional debajo de la imagen */
    overflow: hidden;
}
main{
    margin: 0%;
}
.uno, .dos{
    width: auto;
    display: flex;
    justify-content: space-around;
}
.uno article,.padr {
    width: 55%;
}

#comentar{
    margin-right: 20px;
}
#comentar:hover{
    background-color: transparent;
    color: #2c7873;
}
#comen{
    padding: 1.5em 0;
    border-bottom:1px solid #080808;
}


.dir{
    width: auto;
    text-align: center;                    
}
.dir div{
    margin-top: 10px;
    min-height: 144.5px;
    background-color: #2c7873;
    color: #F0F0F0;
    padding-top: 10px;
}
}